.masthead {
  height: 50vh;
  min-height: 400px;
  background-image: url("../assets/chateau_ext_face_neige.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: azure
}

.content {
    padding-top: 50px
}