.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../assets/chateau_ext_face_neige.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}